<%= simple_form_for [:admin, @page], wrapper: :vertical_input_group, :html => { :class => 'vertical-horizontal' } do |f| %>
  <%= f.error_notification %>

  <%= f.input :title %>
  <%= error_span(@page[:title]) %>
  <%= f.input :master_picture, as: :file %>
  <% if f.object.picture %>
  <div class="row form-group">
    <figure><%= image_tag f.object.picture.url(:big), class: "col-lg-6" %></figure>
  </div>
  <% end -%>
  <%= error_span(@page[:master_picture]) %>
  <%= f.input :content, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full'} } %>
  <%= error_span(@page[:content]) %>
  <%= f.input :tag_list, input_html: {value: f.object.tag_list.join(', ')} %>
  <%= error_span(@page[:tag_list]) %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_pages_path, :class => 'btn btn-default' %>
<% end %>
