<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => User.model_name.human %></h1>
</div>
<%= simple_form_for(resource, as: resource_name, wrapper: :vertical_input_group, url: registration_path(resource_name), html: { method: :put, class: 'vertical-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true %>
    <%= f.input :email, required: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "deixe em branco caso não queira atualizar sua senha", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "para atualizar suas informações você deve informar sua senha", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>
