<%= simple_form_for [:admin, @news], wrapper: :vertical_input_group, :html => { :class => 'vertical-horizontal' } do |f| %>
  <%= f.error_notification %>

    <%= f.association :news_category %>
    <%= error_span(@news[:news_category]) %>
    <%= f.input :title %>
    <%= error_span(@news[:title]) %>
    <%= f.input :master_picture, as: :file %>
    <% if f.object.picture %>
    <div class="row form-group">
      <figure><%= image_tag f.object.picture.url(:big), class: "col-lg-6" %></figure>
    </div>
    <% end -%>
    <%= error_span(@news[:master_picture]) %>
    <%= f.input :resume, :as => :ckeditor %>
    <%= error_span(@news[:resume]) %>
    <%= f.input :content, :as => :ckeditor %>
    <%= error_span(@news[:content]) %>
    <%= f.input :source %>
    <%= error_span(@news[:source]) %>
    <%= f.input :created_at %>
    <%= error_span(@news[:created_at]) %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_news_index_path, :class => 'btn btn-default' %>
<% end %>
