<p id="notice"><%= notice %></p>

<p>
  <strong>News category:</strong>
  <%= @news.news_category %>
</p>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @news.slug %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @news.resume %>
</p>

<p>
  <strong>Content:</strong>
  <%= @news.content %>
</p>

<p>
  <strong>Source:</strong>
  <%= @news.source %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
