<%= simple_form_for [:admin, @news_category], wrapper: :vertical_input_group, :html => { :class => 'vertical-horizontal' } do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= error_span(@news_category[:name]) %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_news_categories_path, :class => 'btn btn-default' %>
<% end %>
