<div class="page-header">
  <h1><%=t '.title', :default => NewsCategory.model_name.human %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= NewsCategory.human_attribute_name(:id) %></th>
      <th><%= NewsCategory.human_attribute_name(:name) %></th>
      <th><%= NewsCategory.human_attribute_name(:slug) %></th>
      <th><%= NewsCategory.human_attribute_name(:news_count) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @news_categories.each do |news_category| %>
      <tr>
        <td><%= link_to news_category.id, admin_news_category_path(news_category) %></td>
        <td><%= news_category.name %></td>
        <td><%= news_category.slug %></td>
        <td><%= news_category.news.count %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_news_category_path(news_category), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_news_category_path(news_category),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-default' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_news_category_path,
            :class => 'btn btn-primary' %>
