<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @news_category.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @news_category.slug %>
</p>

<%= link_to 'Edit', edit_news_category_path(@news_category) %> |
<%= link_to 'Back', news_categories_path %>
