<%= simple_form_for(@contact, html: {class: 'comment-form'}) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="form-group col-xs-16 col-sm-16 name-field">
      <%= f.input :name, placeholder: "Nome*", class: 'form-control', required: :required %>
      <%= error_span(@contact[:name]) %>
    </div>

    <div class="form-group col-xs-16 col-sm-16 email-field">
      <%= f.input :email, type: :email, placeholder: "Email*", class: 'form-control', required: :required %>
      <%= error_span(@contact[:email]) %>
    </div>

    <div class="form-group col-xs-16 col-sm-16">
      <%= f.input :message, placeholder: "Sua mensagem*", class: 'form-control', required: :required, input_html: {rows: 8} %>
      <%= error_span(@contact[:message]) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.button :submit, class: 'btn btn-danger', value: 'Enviar Mensagem' %>
  </div>
<% end %>
