<section>
    <div class="container ">
      <div class="row ">
        <!-- left sec Start -->
        <div class="col-sm-16">
          <div class="row">
            <div id="map_canvas" class="col-sm-16">
              <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
              <div style="overflow:hidden;height:400px;width:100%;">
                <div id="gmap_canvas" style="height:400px;width:100%;"></div>
                <a class="google-map-code" href="http://www.trivoo.net/gutscheine/sheego/" id="get-map-data">trivoo</a></div>
              <script type="text/javascript"> function init_map(){var myOptions = {zoom:16,center:new google.maps.LatLng(-19.59473, -41.96981),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(-19.59473, -41.96981)});infowindow = new google.maps.InfoWindow({content:"<b>Egypt</b><br/><br/> Cairo" });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});}google.maps.event.addDomListener(window, 'load', init_map);</script>
            </div>
            <div class="col-sm-16">
              <div class="row">
                <div class="main-title-outer pull-left">
                  <div class="main-title">Fale Conosco</div>
                </div>
                <div class="col-sm-11">
                  <%= render 'form' %>
                </div>
                <div class="col-sm-4  adress">
                  <address>
                  <strong>Endereço</strong><br>
                  <%= simple_format app_configuration.definitions['address'] unless app_configuration.definitions.nil? %>
                  <%= simple_format app_configuration.definitions['phone'] unless app_configuration.definitions.nil? %>
                  </address>
                  <address>
                  <strong>Advertising mail</strong><br>
                  <%= mail_to app_configuration.definitions['email'] unless app_configuration.definitions.nil? %>
                  </address>
                  <strong>Social</strong><br>
                  <ul class="list-inline">
                    <li><a href="#"><span class="ion-social-twitter"></span></a></li>
                    <li><a href="#"><span class="ion-social-facebook"></span></a></li>
                    <li><a href="#"><span class="ion-social-googleplus"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- left sec End -->

      </div>
    </div>
  </section>
