<div class="page-header">
  <h1><%=t '.title', :default => MenuItem.model_name.human %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= MenuItem.human_attribute_name(:id) %></th>
      <th><%= MenuItem.human_attribute_name(:title) %></th>
      <th><%= MenuItem.human_attribute_name(:parent_id) %></th>
      <th><%= MenuItem.human_attribute_name(:url) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @menu_items.each do |menu_item| %>
      <%= render partial: "table_content", locals: {menu_item: menu_item} %>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_menu_item_path,
            :class => 'btn btn-primary' %>
