<p id="notice"><%= notice %></p>

<p>
  <strong>Parent:</strong>
  <%= @menu_item.parent_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @menu_item.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @menu_item.link %>
</p>

<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_menu_items_path, :class => 'btn btn-default' %>
