<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= app_configuration.company_name %> - <%= content_for?(:title) ? yield(:title) : "Principal" %>
    </title>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/site/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/assets/site/favicon.ico" type="image/x-icon">
  <!-- bootstrap styles-->
  <%= stylesheet_link_tag "site", :media => "all" %>
  <!-- google font -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>
  <!-- preloader start -->
  <div id="preloader">
    <div id="status"></div>
  </div>
  <!-- preloader end -->

  <!-- wrapper start -->
  <div class="wrapper">
    <!-- header toolbar start -->
    <div class="header-toolbar">
      <div class="container">
        <div class="row">
          <div class="col-md-16 text-uppercase">
            <div class="row">
              <div class="col-sm-8 col-xs-16">
                <ul id="inline-popups" class="list-inline">
                  <li class="hidden-xs"><a href="#">Portal da Transparência</a></li>
                  <li><a  href="<%= new_contact_path %>">Fale Conosco</a></li>
                  <li><a  href="<%= admin_root_path %>">Administração</a></li>
                </ul>
              </div>
              <div class="col-xs-16 col-sm-8">
                <div class="row">
                  <div id="weather" class="col-xs-16 col-sm-8 col-lg-9"></div>
                  <div id="time-date" class="col-xs-16 col-sm-8 col-lg-7"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- header toolbar end -->

    <!-- sticky header start -->
    <div class="sticky-header">
      <!-- header start -->
      <div class="container header">
        <div class="row">
          <div class="col-sm-5 col-md-5 wow fadeInUpLeft animated"><a class="navbar-brand" href="<%= root_path %>"><%= app_configuration.company_name %></a></div>
          <div class="col-sm-11 col-md-11 hidden-xs text-right"><img src="/assets/site/ads/468-60-ad.gif" width="468" height="60" alt=""/></div>
        </div>
      </div>
      <!-- header end -->
      <%= render partial: "layouts/menu_header" %>
    </div>
    <!-- sticky header end -->

    <div class="container">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>

    <!-- Footer start -->
    <footer>
      <div class="top-sec">
        <div class="container ">
          <div class="row match-height-container">
            <div class="col-sm-16 subscribe-info wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="40">
              <div class="row">
                <div class="col-sm-16">
                  <div class="f-title"><%= t('app_title') %></div>
                  <%= simple_format app_configuration.definitions['bottom_slogan'] unless app_configuration.definitions.nil? %>
                </div>
                <div class="col-sm-16">
                  <div class="f-title">receba novidades por email</div>
                  <form class="form-inline">
                    <input type="email" class="form-control" id="input-email" placeholder="Digite seu endereço de e-mail">
                    <button type="submit" class="btn"> <span class="ion-paper-airplane text-danger"></span> </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btm-sec">
        <div class="container">
          <div class="row">
            <div class="col-sm-16">
              <div class="row">
                <div class="col-sm-12 col-xs-16 f-nav wow fadeInDown animated" data-wow-delay="0.5s" data-wow-offset="10">
                  <ul class="list-inline ">
                    <li> <a href="<%= root_path %>"> Inicial</a></li>
                    <% site_menu_items.each do |menu_item| %>
                    <li><a href="<%= menu_item.first_link %>"><%= menu_item.title %></a></li>
                    <% end %>
                    <li> <a href="<%= new_contact_path %>">Contato</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-16 copyrights text-right wow fadeInDown animated" data-wow-delay="0.5s" data-wow-offset="10">© <%= Date.today.year %> <%= t('app_title') %> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer end -->
  </div>
  <!-- wrapper end -->
  <%= javascript_include_tag "site" %>
</body>
</html>
